body {
  font-family: "Montserrat Alternates";
}
/* ==============My CSS============== */
.message-list {
  padding: 20px 0;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
  height: 500px;
}
.form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.input {
  flex-grow: 1;
}

.message {
  list-style-type: none;
  margin: 0px;
  max-width: 90%;
  word-wrap: break-word;
  min-width: 10%;
}

.message-coming {
  background-color: #dc3545;
  color: #fff;
}
.message-sending {
  background-color: #dadada;
  float: right;
}
.created_time {
  font-size: 0.8rem;
  padding: 7px;
}
.chat-header:hover {
  cursor: pointer;
}
